<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}abbr{% endblock %}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
	<body>

    <nav class="navbar navbar-light bg-faded">
	  <div class="container-fluid">
		  <a class="navbar-brand" href="/">
			&nbsp;
		  </a>
	  </div>
	</nav>

    <div class="container">
	{% block content %}
	{% endblock %}
    </div>

	</body>
</html>

