{% extends "base.html" %}
{% block content %}

  {% if error %}
    <div class="col-md-10 bg-danger abbr-message">
        {% for item in error.values() %}
            <p>{{ item }}</p>
        {% endfor %}
    </div>
  {% elif short_url %}
    <div class="col-md-10 bg-success abbr-message" id="success-message">
        <a href="{{ short_url }}?info"><span id="short-url">{{ short_url }}</span></a>
        <button class="btn" id="copy-button" data-clipboard-target="#short-url">
            <i class="fa fa-clipboard" aria-hidden="true"></i>
        </button>
    </div>
  {% endif %}
    <div class="col-md-10" id="abbr-form-container">
        <form action="" method="post">
            <div class="modal-body">
                <fieldset class="form-group">
                    <div class="col-md-9">
                        <input name="url" class="form-control" placeholder="URL" type="text">
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary btn-block" id="abbr-button">abbr.</button>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="col-md-6">
                        <input name="name" class="form-control" placeholder="name (optional)" type="text">
                    </div>
                    <div class="col-md-6">
                        <select name="expiry" class="form-control">
                            <option value="">default expiry</option>
                            {% for expiry in expiries %}
                                <option value="{{ expiry.value }}">{{ expiry.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </fieldset>
			</div>
		</form>
	</div>

{% endblock %}
